body{
    height: 50vh;
    background-color: rgb(227, 216, 220);
}

.top_bar{
    position: absolute;
    background-color: rgb(184, 98, 44);
    height: 30px;
    width: 500px;
    top: 20vh;
    left: 35vw;
}

.low_bar{
    position: absolute;
    background-color: rgb(184, 98, 44);
    height: 30px;
    width: 500px;
    top: 65vh;
    left: 35vw;
}

.bar1{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 15px;
    top: 24.2vh;
    left: 40vw;
    animation: bar1 3s infinite linear;
}

.ball1{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 50px;
    top: 50vh;
    left: 39vw;
    border-radius: 100%;

    animation: ball1 3s infinite linear;

}

.bar2{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 15px;
    top: 24.2vh;
    left: 44vw;
}

.ball2{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 50px;
    top: 50vh;
    left: 43vw;
    border-radius: 100%;
}

.bar3{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 15px;
    top: 24.2vh;
    left: 48vw;
}

.ball3{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 50px;
    top: 50vh;
    left: 47vw;
    border-radius: 100%;
}

.bar4{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 15px;
    top: 24.2vh;
    left: 52vw;
}

.ball4{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 50px;
    top: 50vh;
    left: 51vw;
    border-radius: 100%;
}

.bar5{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 15px;
    top: 24.2vh;
    left: 56vw;
}

.ball5{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 50px;
    top: 50vh;
    left: 55vw;
    border-radius: 100%;
}

.bar6{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 15px;
    top: 24.2vh;
    left: 60vw;

    animation: bar6 3s infinite linear;
    animation-delay: 3s;

}

.ball6{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 50px;
    top: 50vh;
    left: 59vw;
    border-radius: 100%;
    animation: ball6 3s infinite linear;
    animation-delay: 3s;
}


@keyframes bar1{
    0%{
        transform-origin: top;
        transform: rotate(0deg);
    }
    20%{
        transform-origin: top;
        transform: rotate(45deg);
    }
    40%{
        transform: rotate(0deg);
    }
    100%{
        transform-origin: top;
        transform: rotate(0deg);
    }
}


@keyframes ball1{
    0%{
        transform: translateX(0px);
    }
    20%{
        transform: translate(-150px,-52px);
    }
    40%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(0px);
    }
}


@keyframes bar6{
    0%{
        transform-origin: top;
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(0deg);
    }
    80%{
        transform-origin: top;
        transform: rotate(-45deg);
    }
    100%{
        transform-origin: top;
        transform: rotate(0deg);
    }
}


@keyframes ball6{
    0%{
        transform: translateX(0px);
    }
    40%{
        transform: translateX(0px);
    }
    80%{
        transform: translate(150px,-52px);
    }
    100%{
        transform: translateX(0px);
    }
}